<!DOCTYPE html>
<html>
<head>
   <link href="css/error.css" rel="stylesheet" media="all"/></link>
</head>
<body>
 
  <section id="not-found">
    <div id="title">Error Page</div>
	<br></br>
	<div id="titlelink"><a href = "login.html" th:href="@{/login}">Go To Login Page </a></div>
    <div class="circles">
      <p>
      	404
      	<br></br>
       <small>PAGE NOT FOUND</small>
      </p>
      <span class="circle big"></span>
      <span class="circle med"></span>
      <span class="circle small"></span>
    </div>
  </section>
</body>

</html>
