<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="assets/scss/style.css" th:href="@{/assets/scss/style.css}"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'/>
</head>
<body class="bg-dark">


<div class="content">
   <img class = "logo" src ="https://i.imgur.com/NTxG0XT.png" height="100px"/>
	  <div class="title">Login</div>
		 <form action="#" th:action="@{/login}" method="POST"> 
			  <input type="text" id="username" name="username" placeholder="Username"/>
			  <input type="password" id="password" name="password" placeholder="Password"/>
			  <input type="checkbox" id="rememberMe"/>
			  <button class = "hover-button" type="submit">Login</button>
	  	</form>
	  <div class="social"> <span>or visit us on Facebook</span></div>
	  <div class="buttons">
	    <a href ="https://www.facebook.com/CristieFoodSeasonings/" target=”_blank”><button class="facebook hover-button"><i class="fa fa-facebook"></i>Facebook</button></a>
	  </div>
 
</div>
</body>
</html>
