<!DOCTYPE html>
<html lang="en">

<head>
<!-- Required meta tags-->
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Title Page-->
<title th:text="${title}">Solid Materials</title>

<!-- Fontfaces CSS-->
<link href="css/font-face.css" rel="stylesheet"
	th:href="@{/css/font-face.css}" media="all" />
<link href="vendor/font-awesome-4.7/css/font-awesome.min.css"
	th:href="@{/vendor/font-awesome-4.7/css/font-awesome.min.css}"
	rel="stylesheet" media="all" />
<link href="vendor/font-awesome-5/css/fontawesome-all.min.css"
	th:href="@{/vendor/font-awesome-5/css/fontawesome-all.min.css}"
	rel="stylesheet" media="all" />
<link href="vendor/mdi-font/css/material-design-iconic-font.min.css"
	th:href="@{/vendor/mdi-font/css/material-design-iconic-font.min.css}"
	rel="stylesheet" media="all" />

<!-- Bootstrap CSS-->
<link href="vendor/bootstrap-4.1/bootstrap.min.css"
	th:href="@{/vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet"
	media="all" />

<!-- Vendor CSS-->
<link href="vendor/animsition/animsition.min.css"
	th:href="@{/vendor/animsition/animsition.min.css}" rel="stylesheet"
	media="all" />
<link
	href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
	th:href="@{/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}"
	rel="stylesheet" media="all" />
<link href="vendor/wow/animate.css" th:href="@{/vendor/wow/animate.css}"
	rel="stylesheet" media="all" />
<link href="vendor/css-hamburgers/hamburgers.min.css"
	th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet"
	media="all" />
<link href="vendor/slick/slick.css" rel="stylesheet"
	th:href="@{/vendor/slick/slick.css}" media="all" />
<link href="vendor/select2/select2.min.css"
	th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet"
	media="all" />
<link href="vendor/perfect-scrollbar/perfect-scrollbar.css"
	th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}"
	rel="stylesheet" media="all" />

<!-- Main CSS-->
<link href="css/theme.css" th:href="@{/css/theme.css}" rel="stylesheet"
	media="all" />
</head>

<body class="animsition">
	<div class="page-wrapper">
		<!-- HEADER-->
		<header th:replace="fragments/menu :: menu"></header>
		<aside th:replace="fragments/menu :: sidebar"></aside>
		<!-- END HEADER -->
		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header th:replace="fragments/pageheader::pageHeader"> </header>
			<!-- END HEADER DESKTOP-->

			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<!-- DATA TABLE -->
								<h3 class="title-5 m-b-35" th:text="${title}+' - Ingredients'">Solid Materials - Ingredients</h3>
								<div class="table-data__tool">
									<div class="table-data__tool-right">
										<a href="rawmaterial.html"><button
												class="au-btn au-btn-icon au-btn--blue au-btn--small">
												<i class="fa fa-arrow-circle-left"></i>Back
											</button></a>
									</div>
									<div class="table-data__tool-right">
										<button class="au-btn au-btn-icon au-btn--green au-btn--small"
											data-toggle="modal" data-target="#addModal">
											<i class="zmdi zmdi-plus"></i>add item
										</button>

									</div>
								</div>
								<div class="table-responsive table-responsive-data2">
									<table class="table table-data2">
										<thead>
											<tr>
												<th>Name</th>
												<th>Quantity</th>
												<th>Unit</th>
												<th>Critical Level</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="material:${materialList}">
												<tr th:id="${material.id}" class="tr-shadow">

													<td id="name" th:text="${material.name}">Corn</td>
													<td id="quantity" th:text="${material.quantity}"
														class="desc">50</td>
													<td id="unit" th:text="${material.unit}">kg</td>
													<td id="quantity" th:text="${material.criticalLevel}"><span
														class="status--process">Processed</span></td>
													
													<td>
														<div class="table-data-feature">
															<button class="item btnView" data-toggle="modal"
																data-target="#viewModal" title="Send">
																<i class="fa fa-search"></i>
															</button>
															<button class="item btnEdit" data-toggle="modal"
																data-target="#editModal" title="Edit">
																<i class="zmdi zmdi-edit"></i>
															</button>
															<button class="item btnDelete" data-toggle="modal"
																data-target="#deletemodal" title="Delete">
																<i class="zmdi zmdi-delete"></i>
															</button>
														</div>
													</td>
												</tr>
												<tr class="spacer"></tr>
											</th:block>
										</tbody>
									</table>
								</div>
								<!-- END DATA TABLE -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="copyright">
									<p>
										Copyright © 2018. All rights reserved.
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- Modal View -->
		<div class="modal fade" id="viewModal" tabindex="-1" role="dialog"
			aria-labelledby="mediumModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="mediumModalLabel">View Item</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="" method="post" novalidate="novalidate">
							<div class="form-group has-success">
								<label for="cc-name" class="control-label mb-1">Product
									Name</label> <input id="viewName" name="cc-name" type="text"
									class="form-control cc-name valid" data-val="true"
									data-val-required="Please enter the product name"
									autocomplete="cc-name" aria-required="true"
									aria-invalid="false" aria-describedby="cc-name-error" disabled />
								<span class="help-block field-validation-valid"
									data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
							</div>
							<div class="form-group has-success">
								<label for="cc-desc" class="control-label mb-1">Description</label>
								<input id="viewDesc" name="cc-name" type="text"
									class="form-control cc-name valid" data-val="true"
									data-val-required="Please enter the description"
									autocomplete="cc-name" aria-required="true"
									aria-invalid="false" aria-describedby="cc-name-error" disabled />
								<span class="help-block field-validation-valid"
									data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
							</div>
							<div class="form-group">
								<label for="cc-quantity" class="control-label mb-1">Quantity</label>
								<input id="viewQuantity" name="cc-number" type="tel"
									class="form-control cc-number identified visa" value=""
									data-val="true"
									data-val-required="Please enter the card number"
									data-val-cc-number="Please enter a valid card number"
									autocomplete="cc-number" disabled /> <span class="help-block"
									data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">
							<i class="fa fa-check"></i>OK
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end modal view -->
		<!-- Modal Add -->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
			aria-labelledby="mediumModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" id="mediumModalLabel">Add Item</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form action="#" th:object="${rawMaterialDto}"
						th:action="@{${action}}" method="post">
						<div class="modal-body">
							<div class="form-group has-success">
								<label for="cc-name" class="control-label mb-1">Product
									Name</label> <input id="cc-name" name="name" th:field="*{name}"
									type="text" class="form-control cc-name valid" data-val="true"
									data-val-required="Please enter the product name"
									autocomplete="cc-name" aria-required="true"
									aria-invalid="false" aria-describedby="cc-name-error" /> <span
									class="help-block field-validation-valid"
									data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
							</div>
								<div class="form-group">
								<label for="cc-quantity" class="control-label mb-1">Quantity</label>
								<input id="cc-quantity" name="quantity" th:field="*{quantity}"
									type="number" min="1" class="form-control cc-number identified visa"
									value="" data-val="true"
									data-val-required="Please enter the card number"
									data-val-cc-number="Please enter a valid card number"
									autocomplete="cc-number" required /> <span class="help-block"
									data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
							</div>
							<div class="form-group has-success">
								<label for="cc-unit" class="control-label mb-1">Unit</label> <input id="cc-unit" name="unit" th:field="*{unit}"
									type="text" class="form-control cc-unit valid" data-val="true"
									data-val-required="Please enter the product unit"
									autocomplete="cc-name" aria-required="true"
									aria-invalid="false" aria-describedby="cc-name-error" /> <span
									class="help-block field-validation-valid"
									data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
							</div>
							<div class="form-group has-success">
								<label for="cc-crit" class="control-label mb-1">Critical level</label>
								<input id="cc-crit" name="criticalLevel" th:field="*{criticalLevel}"
									type="number" min="0" class="form-control cc-name valid" data-val="true"
									data-val-required="Please enter the description"
									autocomplete="cc-name" aria-required="true"
									aria-invalid="false" aria-describedby="cc-name-error" required />
								<span class="help-block field-validation-valid"
									data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
							</div>
						
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">
								<i class="fa fa-times-circle"></i> Cancel
							</button>
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-plus-square"></i> Add
							</button>
						</div>
					</form>

				</div>
			</div>
		</div>
		<!-- end modal Add -->

		<!-- Modal Edit -->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
			aria-labelledby="mediumModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="mediumModalLabel">Edit Item</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form action="#" th:action="@{${action}}"
						th:object="${rawMaterialDto}" method="post">
						<div class="modal-body">
							<input id="editId" name="editId" type="hidden" th:field="*{id}">
							<div class="form-group has-success">
								<label for="editName" class="control-label mb-1">Product
									Name</label> <input id="editName" name="editName" type="text"
									th:field="*{name}" class="form-control cc-name valid"
									data-val="true"
									data-val-required="Please enter the product name"
									autocomplete="cc-name" aria-required="true"
									aria-invalid="false" aria-describedby="cc-name-error" /> <span
									class="help-block field-validation-valid"
									data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
							</div>
								<div class="form-group has-success">
								<label for="cc-unit" class="control-label mb-1">Unit</label> <input id="editUnit" name="unit" th:field="*{unit}"
									type="text" class="form-control cc-unit valid" data-val="true"
									data-val-required="Please enter the product unit"
									autocomplete="cc-name" aria-required="true"
									aria-invalid="false" aria-describedby="cc-name-error" /> <span
									class="help-block field-validation-valid"
									data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
							</div>
							<div class="form-group has-success">
								<label for="editDesc" class="control-label mb-1">Critical level</label>
								<input id="editDesc" name="editDesc" type="number" min="0"
									th:field="*{criticalLevel}" class="form-control cc-name valid"
									data-val="true"
									data-val-required="Please enter the description"
									autocomplete="cc-name" aria-required="true"
									aria-invalid="false" aria-describedby="cc-name-error" /> <span
									class="help-block field-validation-valid"
									data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
							</div>
							<div class="form-group">
								<label for="editQuantity" class="control-label mb-1">Quantity</label>
								<input id="editQuantity" name="editQuantity" type="number" min="0"
									th:field="*{quantity}"
									class="form-control cc-number identified visa" value=""
									data-val="true"
									data-val-required="Please enter the card number"
									data-val-cc-number="Please enter a valid card number"
									autocomplete="cc-number" /> <span class="help-block"
									data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-edit"></i>Edit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- end modal medium -->

		<!-- Modal Delete -->
		<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog"
			aria-labelledby="smallmodalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<form action="#" th:action="@{/inventory/rawMaterials/liquid/delete}"
						method="post">
						<div class="modal-header">
							<h5 class="modal-title" id="smallmodalLabel">Delete Item</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>Are you sure you want to Delete?</p>
							<input id="deleteId" name="deleteId" type="hidden">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Confirm</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	<!-- end modal small -->

		<!-- Jquery JS-->
	<script src="vendor/jquery-3.2.1.min.js"
		th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
	<!-- Bootstrap JS-->
	<script src="vendor/bootstrap-4.1/popper.min.js"
		th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
	<script src="vendor/bootstrap-4.1/bootstrap.min.js"
		th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
	<!-- Vendor JS       -->
	<script src="vendor/slick/slick.min.js"
		th:src="@{/vendor/slick/slick.min.js}">
		
	</script>
	<script src="vendor/wow/wow.min.js" th:src="@{/vendor/wow/wow.min.js}"></script>
	<script src="vendor/animsition/animsition.min.js"
		th:src="@{/vendor/animsition/animsition.min.js}"></script>
	<script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"
		th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
		
	</script>
	<script src="vendor/counter-up/jquery.waypoints.min.js"
		th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
	<script src="vendor/counter-up/jquery.counterup.min.js"
		th:src="@{/vendor/counter-up/jquery.counterup.min.js}"></script>
	<script src="vendor/circle-progress/circle-progress.min.js"
		th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.js"
		th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
	<script src="vendor/chartjs/Chart.bundle.min.js"
		th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
	<script src="vendor/select2/select2.min.js"
		th:src="@{/vendor/select2/select2.min.js}">
		
	</script>

	<!-- Main JS-->
	<script src="js/main.js" th:src="@{/js/main.js}"></script>
	<!-- User-defined JS-->
	<script src="external/crud.js" th:src="@{/external/crud.js}"></script>


</body>

</html>
<!-- end document-->
