<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="au theme template"/>
    <meta name="author" content="Hau Nguyen"/>
    <meta name="keywords" content="au theme template"/>

    <!-- Title Page-->
    <title>Return an Item</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all"/>
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all"/>
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all"/>
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all"/>

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all"/>

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all"/>
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all"/>
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all"/>
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all"/>
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all"/>
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all"/>
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all"/>

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all"/>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Home</a>
                        </li>
						<li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-archive"></i>Inventory</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="rawmaterial.html"><i class="fa fa-lemon-o"></i>Raw Materials</a>
                                </li>
								<li>
                                    <a href="finishedgood.html"><i class="fa fa-thumbs-up"></i>Finished Goods</a>
                                </li>
								<li class = "active">
                                    <a href="returnedgoods.html"><i class="fa fa-copy"></i>Returned Goods</a>
                                </li>
                            </ul>
                        </li>
						<li>
                            <a href="order.html">
                                <i class="fas fa-table"></i>Order</a>
                        </li>
						<li>
                            <a href="delivery.html">
                                <i class="fas fa-calendar-alt"></i>Deliveries</a>
                        </li>
						<li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-files-o"></i>Reports</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                               <li>
                                    <a href="dailyreport.html"><i class="fa fa-file-text"></i>Daily Reports</a>
                                </li>
								<li>
                                    <a href="weeklyreport.html"><i class="fa fa-files-o"></i>Weekly Reports</a>
                                </li>
								<li>
                                    <a href="monthlyreport.html"><i class="fa fa-calendar-o"></i>Monthly Reports</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="index.html">
                                <i class="fas fa-tachometer-alt"></i>Home</a>
                        </li>
						<li class="has-sub">
                            <a href="#"  class="js-arrow">
                                <i class="fa fa-archive"></i>Inventory</a>
                            <ul class="navbar_submenu list-unstyled">
                                 <li>
                                    <a href="rawmaterial.html"><i class="fa fa-lemon-o"></i>Raw Materials</a>
                                </li>
								<li>
                                    <a href="finishedgood.html"><i class="fa fa-thumbs-up"></i>Finished Goods</a>
                                </li>
								<li class = "active">
                                    <a href="returnedgoods.html"><i class="fa fa-copy"></i>Returned Goods</a>
                                </li>
                            </ul>
                        </li>
						<li>
                            <a href="order.html">
                                <i class="fas fa-table"></i>Order</a>
                        </li>
						<li>
                            <a href="delivery.html">
                                <i class="fas fa-calendar-alt"></i>Deliveries</a>
                        </li>
						<li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-files-o"></i>Reports</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="dailyreport.html"><i class="fa fa-file-text"></i>Daily Reports</a>
                                </li>
								<li>
                                    <a href="weeklyreport.html"><i class="fa fa-files-o"></i>Weekly Reports</a>
                                </li>
								<li>
                                    <a href="monthlyreport.html"><i class="fa fa-calendar-o"></i>Monthly Reports</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">2</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 3 Notifications</p>
                                            </div>
											<div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="fa fa-exclamation"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Stock Limit</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="fa fa-truck"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Delivery Notice</p>
                                                    <span class="date">February 16, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="notification.html">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">john doe</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">john doe</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="login.html">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
							<div class="row">
                            <div class="col-md-12">
								<div class="headertitle">
                                <h2>Return an Item</h2>
								</div>
                            </div>
						</div>
					<div class="row">
						<div class="col-md-12">
                                <!-- DATA TABLE -->
                                <div class="table-data__tool">
                                    <div class="table-data__tool-right">
                                       
											<a href = "returnedgoods.html"><button class="au-btn au-btn-icon au-btn--blue au-btn--small" >
                                            <i class="fa fa-arrow-circle-left"></i>Back</button></a>
											
                                    </div>
                                </div>
								<div class="row">
									<div class="col-lg-12">
										<div class="card">
											<div class="card-header">
												<strong>Customer Detail</strong>
											</div>
											
											<div class="card-body card-block">
												<div class="row">
													<div class="col-6">
														<label for="customername" class="control-label mb-1">Customer Name</label>
														<div class="input-group">
															<input id="customername" name="customername" type="text" class="form-control" disabled/>
														</div>
													</div>
													<div class="col-6">
														<label for="ordereddate" class="control-label mb-1">Ordered Date</label>
														<div class="input-group">
															<input id="ordereddate" name="ordereddate" type="date" class="form-control" disabled/>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Description</th>
                                                <th>Quantity</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Soy Sauce</td>
                                                <td>Oyster Sauce</td>
                                                <td class="process">200</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="modal" data-target="#returnModal" title="Return an Item">
                                                            <i class="fa fa-mail-reply-all"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ketchup</td>
                                                <td>Banana Ketchup</td>
                                                <td class="process">150</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="modal" data-target="#returnModal" title="Return an Item">
                                                            <i class="fa fa-mail-reply-all"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
								
                                <!-- END DATA TABLE-->
                            </div>
                        </div>
                                <!-- END DATA TABLE -->
                    </div>
                </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
	</div>
		<!-- Modal Edit -->
			<div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="mediumModalLabel">Return Product Item</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
									<form action="" method="post" novalidate="novalidate">
                                            <div class="form-group">
                                                <label for="productname" class="control-label mb-1">Product Name</label>
                                                <input id="prodname" name="prodname" type="text" class="form-control" disabled/> 
                                            </div>
											<div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="orderdate" class="control-label mb-1">Ordered Date</label>
														<input id="dateorder" name="dateorder" type="date" class="form-control" disabled/>
														<span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <label for="retdate" class="control-label mb-1">Returned Date</label> <!--autofill date for current date-->
                                                        <input id="retdate" name="retdate" type="date" class="form-control" disabled/>
                                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="orderquan" class="control-label mb-1">Ordered Quantity</label>
                                                    <div class="input-group">
                                                        <input id="orderquan" name="orderquan" type="number" class="form-control" disabled/>

                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <label for="returnquan" class="control-label mb-1">Quantity to Return</label>
                                                    <div class="input-group">
                                                        <input id="returnquan" name="returnquan" type="number" class="form-control" value="" data-val="true" data-val-required="Please enter the security code"
                                                            data-val-cc-cvc="Please enter a valid Quantity value" autocomplete="off"/>

                                                    </div>
                                                </div>
                                            </div>
                                    </form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-primary"><i class="fa fa-check"></i> Confirm</button>
						</div>
					</div>
				</div>
			</div>
		<!-- end modal medium -->

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>
<!-- end document-->
